// Variables
@import './variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Utilities
@import './utilities';
// Components
@import './components/MediaAsset';
@import './components/MediaNavbar';
@import './components/MediaDetailModal';
@import './components/LoaderButton';
@import './components/FileUpload';
@import './components/BrandNavigation';
@import './components/ScheduleCalendar';
@import './components/UnsplashSearch';
@import './components/Notification';
@import './components/MediaSelectModal';
// Freestyle

html,
body {
    overscroll-behavior: none;
}

.calendar {
    position: relative;
    background-color: rgba(255, 255, 255, 0.75);
}

.calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 14.38%);

    div {
        text-align: right;
        
        @extend .p-3;
    }
}

.calendar__body {
    display: grid;
    grid-template-columns: repeat(7, 14.38%);
    grid-auto-rows: 125px;
}

.calendar__day {
    text-align: right;

    @extend .p-3;

    &:nth-child(7n+1),
    &:nth-child(7n+7) {
        background-color: $gray-100;
    }

    sup {
        font-weight: bolder;
    }

    &--today {
        sup {

            @extend .badge;
            @extend .badge-danger;
        }
    }

    &--muted {
        color: $gray-400;
    }
}

.brand__container {
    position: relative;
}
