@import url('https://fonts.googleapis.com/css?family=Muli:wght@400;900&display=swap');

$font-family-sans-serif: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$gray-100: #f2f2f2 !default;
$gray-200: #dedede !default;
$gray-300: #c7c7c7 !default;
$gray-400: #adadad !default;
$gray-500: #8f8f8f !default;
$gray-600: #737373 !default;
$gray-700: #5c5c5c !default;
$gray-800: #454647 !default;
$gray-900: #323436 !default;
$black:    #222426 !default;

$theme-colors: (
  "primary": #2F96D6,
  "secondary": #737373,
  "success": #2FD656,
  "danger": #FF595F,
  "warning": #FFD659,
  "info": #59E9FF,
  "light": #EBF4FA,
  "dark": #0d496e,
);

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background: linear-gradient(45deg, $value, adjust-hue($value, 15deg));
  }
  
  .bg-#{$color} {
    background: linear-gradient(45deg, $value, adjust-hue($value, 15deg))
  }
}

$border-radius: 0.5rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.75rem;

.btn {
  &:hover,
  .action {
    svg * {
      fill: #fff !important;
    }
  }
}

html {
    line-height: 1.5em;
}