<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '822987708217009',
      autoLogAppEvents: true,
      xfbml: true,
      version: 'v7.0'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
