<%= if assigns[:flash] && !assigns[:skip_flash] do %>
  <%= render_flash(@flash) %>
<% end %>

<%= live_component(@socket, BordoWeb.Components.Toast, id: "toast", show: false) %>

<div class="h-screen flex">
  <%= @inner_content %>
</div>
