<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Bordo", suffix: "" %>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app_admin.css") %>" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app_admin.js") %>"></script>

</head>

<body>
  <div>
    <div class="bg-gray-800 pb-32">
      <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="border-b border-gray-700">
            <div class="flex items-center justify-between h-16 px-4 sm:px-0">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="Bordo admin" width="40px" />
                </div>
                <div class="hidden md:block">
                  <div class="flex items-baseline">
                    <%= link "Teams", to: Routes.admin_live_path(@conn, BordoWeb.Admin.TeamsLive.Index), class: active_link(@conn, BordoWeb.Admin.TeamsLive.Index) %>
                    <%= link "Users", to: Routes.admin_live_path(@conn, BordoWeb.Admin.UsersLive.Index), class: active_link(@conn, BordoWeb.Admin.UsersLive.Index) %>
                    <%= link "Posts", to: Routes.admin_live_path(@conn, BordoWeb.Admin.PostsLive.Index), class: active_link(@conn, BordoWeb.Admin.PostsLive.Index) %>
                  </div>
                </div>
              </div>
              <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                  <button
                    class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700"
                    aria-label="Notifications">
                    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                    <%= link to: Routes.live_dashboard_path(@conn, :home) do %>
                    <i data-feather="activity"></i>
                    <% end %>
                    <% end %>
                  </button>

                  <!-- Profile dropdown -->
                  <div class="ml-3 relative z-10" x-data="{open: false}">
                    <div>
                      <button @click="open = !open" @click.away="open = false"
                        class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"
                        id="user-menu" aria-label="User menu" aria-haspopup="true">
                        <img class="h-8 w-8 rounded-full" src="<%= BordoWeb.Admin.UserView.avatar(@current_admin) %>"
                          alt="" />
                      </button>
                    </div>
                    <div x-show="open" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg"
                      x-description="Profile dropdown panel, show/hide based on dropdown state."
                      x-transition:enter="transition ease-out duration-200"
                      x-transition:enter-start="transform opacity-0 scale-95"
                      x-transition:enter-end="transform opacity-100 scale-100"
                      x-transition:leave="transition ease-in duration-75"
                      x-transition:leave-start="transform opacity-100 scale-100"
                      x-transition:leave-end="transform opacity-0 scale-95">
                      <div class="py-1 rounded-md bg-white shadow-xs">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Your Profile</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
                        <%= link "Sign out", to: Routes.logout_path(@conn, :index), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button
                  class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white">
                  <!-- Menu open: "hidden", Menu closed: "block" -->
                  <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                  <!-- Menu open: "block", Menu closed: "hidden" -->
                  <svg class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--
            Mobile menu, toggle classes based on menu state.

            Open: "block", closed: "hidden"
          -->
        <div class="hidden border-b border-gray-700 md:hidden">
          <div class="px-2 py-3 sm:px-3">
            <a href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard</a>
            <a href="#"
              class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Team</a>
            <a href="#"
              class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Projects</a>
          </div>
          <div class="pt-4 pb-3 border-t border-gray-700">
            <div class="flex items-center px-5">
              <div class="flex-shrink-0">
                <img class="h-10 w-10 rounded-full" src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" alt="" />
              </div>
              <div class="ml-3">
                <div class="text-base font-medium leading-none text-white">Tom Cook</div>
                <div class="mt-1 text-sm font-medium leading-none text-gray-400">tom@example.com</div>
              </div>
            </div>
            <div class="mt-3 px-2" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <a href="#"
                class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
                role="menuitem">Your Profile</a>
              <a href="#"
                class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
                role="menuitem">Settings</a>
              <a href="#"
                class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
                role="menuitem">Sign out</a>
            </div>
          </div>
        </div>
      </nav>
      <!--
          <header class="py-10">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl leading-9 font-bold text-white">
              Users
            </h1>
          </div>
        </header>
        -->
    </div>
    <main class="-mt-20">
      <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
        <%= @inner_content %>
      </div>
    </main>
  </div>

</body>

</html>
