.bdo-avatar {
    position: relative;
    width: 100%;
    height: 0;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 100%;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    
    > * {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 1.75em;
        font-weight: bolder;
        pointer-events: none;
    }

    &--circle {
        @extend .rounded-circle;
    }

    &--rounded {
        @extend .rounded-lg;
    }
}