.bdo-brandNav {
    &__link {
        border-right: 10px solid transparent;
        color: $gray-600;
        margin-right: -1px;
        transition: $transition-base;

        &.active {
            background: $gray-200;
            border-color: theme-color("danger");
            color: $black;
        }

        svg {
            transition: .2s margin linear;
        }
        
        &:hover {
            color: $black;

            svg {
                margin-right: 1.25rem !important;
            }
        }
    }
}