.bdo-brandWorkspace {
    overflow: scroll;
    overscroll-behavior: auto;
    height: 100%;

    > div {
        min-height: 100%;
        
        > section {
            @extend .p-5;
            min-height: 100vh;
        }
    }
}