.bdo__editableInput {
    background: none !important;
    padding-top: $input-padding-y-lg;
    padding-bottom: $input-padding-y-lg;
    border-radius: 0;
    border: 0;
    transition: .15s all linear;
    box-shadow: inset 0 0 0 theme-color('primary');
    outline: none;
    margin-bottom: 0.5rem;
    width: 100%;
    
    @extend .h3;
    
    &--editable {
        box-shadow: inset 0 -3px 0 theme-color('primary');
    }

    &+a,
    &+p {
        font-size: 0.75rem;
        margin: 0;
    }
}
