.bdo-fileUpload {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px dashed theme-color('light');

    &:hover {
        outline: none;
        border-color: theme-color('primary');
        color: theme-color('primary');
        background: theme-color('light');
    }
}