.bdo-loaderButton {
    position: relative;

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
    }

    &__text {
        opacity: 1;
    }

    &--loading & {
        &__icon {
            opacity: 1;
        }

        &__text {
            opacity: 0;
        }
    }
}