.bdo-mediaNavbar {
    @extend .py-3;
    @extend .mb-4;
    @extend .sticky-top;

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background: $white;
        padding-top: 999px;
    }

    &__filter {
        label {
            cursor: pointer;
            opacity: 0.5;

            @extend .px-2;
        }

        &--checked {
            label {
                font-weight: bolder;
                opacity: 1;
            }
        }

        input {
            display: none;
        }
    }
}