.bdo-notifcation {
    box-shadow: $box-shadow;
    opacity: 0.85;
    pointer-events: all;
    cursor: default;

    // animation: 1s ease 2s normal forwards 1 fadeOut;

    &:hover {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% { opacity:1; }
    66% { opacity:1; }
    100% { opacity:0; }
}