.bdo-scheduleCalendar {
    user-select: none;

    &__post {
        color: $white;
        background: theme-color('dark');
        width: 100%;
        cursor: pointer;
        animation: fadeIn .25s 1;
        
        @extend .badge;

        div {
            width: 100%;
            justify-content: space-between;
        }

        &--past {
            cursor: default;
            opacity: 0.2;
            animation: fadeInPast .25s 1;
        }

        &--attention {
          background:darken(orange, 5%);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes fadeInPast {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}